// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }

// Sidebar Modification
.sidebar {
  text-align: center;
}
.sidebar-sticky {
  height: 100%;
  padding-top: 5%;
  position: absolute;
}

.sidebar-nav-item {
  padding-top: 0.5rem;
  margin: 0px;
  width:100%;
}

.sidebar-nav-subitem {
  @extend .f4;
  width:100%;
  //padding: .05rem 0;
  padding: 0px;
  display: inline-block;
  font-size: 14px;
}

//.sidebar-nav-subitem:last-child {
//  margin-bottom: 0.04rem;
//}

.list-wrapper {
  text-align: left;
  width: 18rem;
  display: flex;
}

.list-body {
  margin: 0;
  text-align: left;
}

.sidebar-about {
  > a.sidebar-title {
    &::after {
      width: 9rem;
    }
  }
}

// Submenu Insertion

.spread-btn{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-align: right;
  width: 100%;
  padding-top: 0.5rem;
}
.spread-btn:hover{
  color: #bcc8d2;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox] ~ ul{
  height: 0;
  transform: scaleY(0);
  //transition: transform .2s ease-out;
}

input[type=checkbox]:checked ~ ul{
  height: 100%;
  list-style: none;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform .2s ease-out;
}

blockquote {
   margin-left: 0px;
   border-left: 5px solid #A6CAE5;
 }
.a {
  color: rgb(166,202,229);
  text-decoration-color : rgb(166,202,229);
}

