.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}
blockquote {
  margin-left: 0px;
  border-left: 5px solid #A6CAE5;
}
.a {
  color: rgb(166,202,229);
  text-decoration-color : rgb(166,202,229);
}
